<table>
  <thead>
    <tr>
      <th class="text-left">Name</th>
      <th class="text-left">Series</th>
      <th class="text-left">Reps</th>
      <th class="text-left">Strength</th>
      <th class="text-left">Intensity</th>
      <th *ngIf="crono" class="text-left">Crono</th>
      <th *ngIf="actions" class="text-left"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let exercise of exercises; let i = index">
      <td class="text-left">{{exercise.name}}</td>
      <td class="text-left">{{exercise.series}}</td>
      <td class="text-left">{{exercise.reps}}</td>
      <td class="text-left">{{exercise.strength}} {{exercise.unit}}</td>
      <td class="text-left"><app-training-intensity [exercises]="[exercise]"></app-training-intensity></td>
      <td *ngIf="crono" class="text-left"><app-crono></app-crono></td>
      <td *ngIf="actions" class="text-right">
        <button (click)="onRemove(i)" class="danger sm">
          <i-feather name="trash" class="ixs"></i-feather>
        </button>
      </td>
    </tr>
  </tbody>
</table>

