<!-- <app-form *ngIf="form" [fg]="form"> -->

  <form *ngIf="form" [formGroup]="form">

    <!-- Training intensity -->
    <app-fieldset>
        <app-fieldset-item>
          <!-- <label for="name">Name: </label> -->
          <input id="name" placeholder="Name" type="text" formControlName="name">
        </app-fieldset-item>
        <app-fieldset-item>
          <!-- <label for="description">Description: </label> -->
          <input id="description" placeholder="Description" type="text" formControlName="description">
        </app-fieldset-item>
        <app-fieldset-item>
          <!-- <label for="series">Series: </label> -->
          <input id="series" placeholder="Series" type="number" formControlName="series">
        </app-fieldset-item>
        <app-fieldset-item>
          <!-- <label for="reps">Reps: </label> -->
          <input id="reps" placeholder="Reps" type="number" formControlName="reps">
        </app-fieldset-item>
        <app-fieldset-item>
          <!-- <label for="strength">Strength: </label> -->
          <input id="strength" placeholder="Strength" type="number" formControlName="strength">
        </app-fieldset-item>
        <app-fieldset-item>
          <!-- <label for="unit">Unit: </label> -->
          <input id="unit" placeholder="Unit" type="string" formControlName="unit">
        </app-fieldset-item>
        <app-fieldset-item>
          <button class="success sm grow" type="button" (click)="onAddTraining()">
            <i-feather name="plus" class="ixs"></i-feather>
          </button>
        </app-fieldset-item>
    </app-fieldset>
  </form>

  <!-- </app-form> -->
