<div *ngIf="session">
  <p><strong>Date:</strong> {{session.date | date}}</p>
  <p><strong>Name:</strong> {{session.name}}</p>
  <p><strong>Description:</strong></p><p>{{session.description}}</p>
</div>
