
  <form *ngIf="form" [formGroup]="form">

  <!-- Training intensity -->
  <app-fieldset>
    <app-fieldset-item>
      <app-training-intensity [exercises]="training.exercises"></app-training-intensity>
    </app-fieldset-item>
  </app-fieldset>
  
  <!-- Name -->
  <app-fieldset>
    <app-fieldset-item>
      <!-- <label for="name">Name: </label> -->
      <input id="name" placeholder="Name" type="text" formControlName="name">
    </app-fieldset-item>
  </app-fieldset>
  
  <!-- Description -->
  <app-fieldset>
    <app-fieldset-item>
      <!-- <label for="description">Description: </label> -->
      <textarea id="description" placeholder="Description" type="text" formControlName="description"></textarea>
    </app-fieldset-item>
  </app-fieldset>
  
  <!-- Exercises table -->
  <app-fieldset>
    <app-fieldset-item>
      <app-exercises-table 
      [actions]="true"
      (onRemoveExercise)="onRemoveExercise($event)"
      [exercises]="training.exercises || []"></app-exercises-table>
    </app-fieldset-item>
  </app-fieldset>

  <app-fieldset class="no-padding">
    <app-fieldset-item>
      <app-create-exercise-inline (OnNewExercise)="onNewExercise($event)"></app-create-exercise-inline>
    </app-fieldset-item>
  </app-fieldset>
  
  <div class="flex center">  
    <button class="md default" [routerLink]="['/training']">
      <i-feather name="corner-up-left" class="imd"></i-feather>
    </button>
    <button class="md success" (click)="onSave()">
      <i-feather name="save" class="imd"></i-feather>
    </button>
  </div>
  
</form>
