<h1>New session!</h1>
<ng-container *ngIf="session">
  <app-session-details [session]="session"></app-session-details>
  <app-training-intensity [exercises]="session.exercises"></app-training-intensity>
  <app-exercises-table [exercises]="session.exercises" [actions]="true" (onRemoveExercise)="onRemoveExercise($event)"></app-exercises-table>
  <app-create-exercise-inline (OnNewExercise)="addExercise($event)"></app-create-exercise-inline>
  <div class="flex center">
    <button (click)="back()" class="default"><i-feather name="corner-up-left" class="ixl"></i-feather></button>
    <button class="primary"><i-feather name="play" class="ixl"></i-feather></button>
  </div>
</ng-container>
