.container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-top: 1px solid #ddd;
  overflow: hidden;
  // background-color: #FAFAFA;
  width: auto;

  .start {
    border: 1px solid lime;
  }
  .end {
    border: 1px solid red;
  }
}