.container {
  display:flex;
  align-items: center;
  overflow: hidden;
  width: auto;

  .icon {
    padding:.1rem;
    height: 40px;
    width: 40px;
    display:flex;
    justify-content: center;
    color: orangered;
    overflow: hidden;
    height: 100%
  }

  .label {
    border-radius: 5px;
    padding: .5rem;
    margin: 1px;
  }
}