<div class="flex sb">
  <h1>Trainings</h1>
  <button class="md success" [routerLink]="['/training/edit']"><i-feather name="plus" class="imd"></i-feather></button>
</div>

<div *ngFor="let training of (trainings$ | async)">
  <app-collapsible>

    <ng-container header>
      <app-generic-header>
        <div slot="start">
          <h2>{{training.name}}</h2>
        </div>
        <div slot="end">
          <button class="primary sm" [routerLink]="['/session/create', training.id]">
            <i-feather name="play" class="ixs"></i-feather>
          </button>
          <button class="success sm" [routerLink]="['/training/edit', training.id]">
            <i-feather name="edit" class="ixs"></i-feather>
          </button>
          <button (click)="onDelete(training.id)" class="danger sm">
            <i-feather name="trash" class="ixs"></i-feather>
          </button>
        </div>
      </app-generic-header>
    </ng-container>
    
    <ng-container content>
      
      <app-generic-header>
        <app-training-intensity slot="start" [exercises]="training.exercises"></app-training-intensity>
      </app-generic-header>
    
      <app-generic-content>
        <app-exercises-table [exercises]="training.exercises"></app-exercises-table>
      </app-generic-content>

    </ng-container>

  </app-collapsible>
</div>

<div class="flex right">
  <button class="md success" [routerLink]="['/training/edit']"><i-feather name="plus" class="imd"></i-feather></button>
</div>
