.ixs {
  height: 14px !important;
  width: 14px !important;
}

.ism {
  height: 18px !important;
  width: 18px !important;
}

.imd {
  height: 22px !important;
  width: 22px !important;
}

.ilg {
  height: 26px !important;
  width: 26px !important;
}

.ixl {
  height: 30px !important;
  width: 30px !important;
}
