/* You can add global styles to this file, and also import other style files */
@import '_variables';
@import './fonts';
@import './icons';

body {
  margin: 0;
  margin-bottom: 5rem;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto'
}

table {

  border-spacing: 0;
  width: 100%;

  thead {
  }

  tbody {

    tr {
      &:hover{
        background-color: rgb(233, 246, 255);
      }
    }
  }

  td, th {
    border-top: 1px solid #dee2e6;
    padding: .5rem;
    font-family: "Roboto";
    margin: 0;
  }

  th {
    background-color: #FAFAFA;
    border-bottom: 2px solid #dee2e6;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

input, textarea {
  border: none;
  border-bottom: 1px solid #CCC;
  padding: .5rem;
  outline: none;
}

button {
  font-size: $button-font-size;
  border: none;
  border-radius: 3px;
  padding: 1rem;
  margin: .25rem;

  &.default {
    background-color: rgb(58, 58, 58);
    color: white;
    &:hover{
      background-color: rgb(85, 85, 85);
    }
  }

  &.primary {
    background-color: rgb(255, 102, 0);
    color: white;
    &:hover{
      background-color: rgb(255, 132, 61);
    }
  }

  &.success {
    background-color: rgb(56, 112, 56);
    &:hover{
      background-color: rgb(54, 153, 54);
    }
  }
  
  &.danger {
    background-color: rgb(143, 19, 19);
    &:hover{
      background-color: rgb(212, 14, 14);
    }
  }

  &.warning {
    background-color: rgb(199, 168, 30);
    &:hover{
      background-color: rgb(228, 213, 12);
    }
  }

  &.sm {
    height: 40px;
    width: 40px;
    padding: .5rem .75rem;
  }

  &.md {
    height: 60px;
    width: 60px;
    padding: .5rem .75rem;
  }

  &.lg {
    height: 80px;
    width: 80px;
    padding: .5rem .75rem;
  }

  &.grow{
    height: auto;
    width: auto;
  }

  color: #FAFAFA;
  cursor: pointer;
  
}

.flex {
  display: flex;

  &.left{
    justify-content: flex-start;
  }

  &.right{
    justify-content: flex-end;
  }

  &.center{
    justify-content: center;
  }

  &.sb{
    justify-content: space-between;
  }
}
