{{ counter | hms }}
<button class="sm success" *ngIf="!this.interval" (click)="play()">
  <i-feather name="play" class="ixs"></i-feather>
</button>
<button class="sm warning" *ngIf="this.interval"(click)="stop()">
  <i-feather name="pause" class="ixs"></i-feather>
</button>